<div>
  <div class="head-title">
    <div class="left">
      <h1>Add Contact</h1>
    </div>
  </div>
  <form [formGroup]="addContact" (ngSubmit)="createContact()" style="padding: 25px;">
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" id="name" formControlName="name">
    </div>
    <div class="form-group">
      <label for="emailId">Email Address:</label>
      <input type="email" id="emailId" formControlName="emailId">
    </div>
    <div class="form-group">
      <label for="status">Status:</label>
      <select id="status" formControlName="status">
        <option value="">Select Status</option>
        <option *ngFor="let status of statuses" [value]="status.name">{{status.name}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="website">Website:</label>
      <input type="text" id="website" formControlName="website" (change)="onWebsiteChange()">
    </div>
    <button type="submit">Add</button>
  </form>
</div>
